.sign-up{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
}

.form{
    /* margin-bottom: 50px; */
    /* border: black solid 1px; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input, .email-input{
    margin: 15px;
    /* text-align: start; */
    /* border: green solid 1px; */
    width: 100%;
}

button{
    display: inline; 
    margin: 10px;
}

.skip-btn{
    background-color: white;
    color: #FF5D34;
}

label, input{
    display:inline;
}

input {
    margin-top: 10px;
    width: 60%;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc; /* Add this line to ensure all borders are visible */
}

.btns{
    margin-top: 30px;
    /* border: red solid 1px; */
}


.inner {
    width: 70%; /* Takes 80% of parent container width */
    padding: 5%; /* Responsive padding */
}

